.leaflet-popup-content-wrapper {
  background: var(--bg-dark) !important;
  color: var(--white) !important;
  font-family: var(--font-body) !important;
}
.leaflet-popup-close-button {
  color: var(--white) !important;
}
.leaflet-popup-tip {
  background-color: var(--bg-dark) !important;
}

.leaflet-popup-content {
  margin-top: 24px !important;
}
.leaflet-popup-close-button {
  top: 4px !important;
  right: 4px !important;
  // transform: translate(-50%, 50%);
  span {
    font-size: 24px !important;
    line-height: 0 !important;
  }
}

.custom-info-window-container {
  position: relative;
  .custom-info-window {
    h3 {
      text-align: center;
    }
    .label {
      font-size: 1.2rem;
    }

    p {
      margin: 0;
    }

    span {
      display: block;
      margin-bottom: 2px;
    }

    .margin-container {
      margin-bottom: 12px;
    }
  }

  .edit-location {
    position: absolute;
    top: 6px;
    right: 30px;
    background: url('/edit-icon.svg');
    background-size: 16px;
    background-position: center;
    width: 18px;
    height: 18px;
  }
}
