.marker-cluster-small,
.marker-cluster-medium,
.marker-cluster-large {
  background-color: unset !important;
}

.marker-cluster-small div,
.marker-cluster-medium div {
  background-color: var(--lime) !important;
  span {
    color: var(--black) !important;
    font-family: var(--font-body) !important;
  }
}

.marker-cluster-large div {
  background-color: var(--purple) !important;
  span {
    color: var(--white) !important;
    font-family: var(--font-body) !important;
  }
}
